---
import Milk from "../../assets/icons/milk.svg";
import Gluten from "../../assets/icons/gluten-icon.svg";
import Nuts from "../../assets/icons/nuts-icon.svg";
import Fish from "../../assets/icons/fish-icon.svg";
import Vegetarian from "../../assets/icons/vegetarian-icon.svg";
import Vegan from "../../assets/icons/vegan-icon.svg";
import Checkbox from "./Checkbox.astro";
import Button from "../Button.astro";
import RadioButton from "./RadioButton.astro";
import PopUp from "../PopUp.astro";


const requestSuccess = Astro.url.searchParams.get("requestSend") || false;


// Uddrag fra din Button.astro
const variants = {
  primary:
    "bg-accent text-button text-primary p-button font-button-text hover:bg-accent-hover text-center",
  primaryOutline: // Denne variant bruges nu for "Event" kortets knap
    "text-button text-primary p-button font-body-text border border-primary", // Inkluderer border
  secondary:
    "bg-transparent text-accent text-paragraph p-button border border-accent hover:border-accent-hover hover:bg-accent-hover hover:text-primary",
  neutral:
    "bg-accent text-button text-primary p-button font-button-text hover:bg-accent-hover",
  disabled: "bg-disabled text-button text-primary p-button font-button-text",
};
---

<article class="relative">
  <!--On Success Message -->
  <!--Dynamic HTML: Conditionally displaying HTML using logical operators -->
  {
    requestSuccess && (
      <PopUp id="success-popup" textStyle="text-center" class="hidden">
        <h3>Tak for din forespørgsel hos Kær Kaffebar</h3>
        <p>
          Vi glæder os til at byde dig velkommen. Du vil høre fra os tilbage
          hurtigst muligt.
        </p>
      </PopUp>
    )
  }

  <form
    method="POST"
    action="/api/request"
    class="bg-primary-2 border-2 border-faded-highlight rounded-md p-large flex flex-col gap-large"
  >
    <h3>
      Udfyld formular og send forespørgelse til enten arrangement, event eller
      catering
    </h3>
    <div class="flex flex-col gap-default">
      <label class="flex flex-col mb-smal font-bold gap-small">
        Fulde Navn
        <input
          required
          type="text"
          name="fullName"
          required
          class="border border-bright-bg rounded-sm p-2 bg-white"
        />
      </label>
      <label class="flex flex-col mb-smal font-bold gap-small">
        Email
        <input
          required
          type="email"
          name="email"
          required
          class="border border-bright-bg rounded-sm p-2 bg-white"
        />
      </label>
      <label class="flex flex-col mb-smal font-bold gap-small">
        Telefonnummer
        <input
          required
          type="number"
          pattern="[0-9]*"
          name="phoneNumber"
          required
          class="[appearance:textfield] border border-bright-bg rounded-sm p-2 bg-white"
        />
      </label>
    </div>
    <fieldset class="flex flex-wrap flex-col gap-default">
      <legend class="text-header-3">Anledning</legend>
      <RadioButton Occasion="Arrangement" />
      <RadioButton Occasion="Catering" />
      <RadioButton Occasion="Event" />
      <RadioButton Occasion="Kage og bestilling" />
    </fieldset>
    <div class="flex flex-col gap-default">
      <label class="inline-flex flex-col mb-smal font-bold">
        Tid
        <input
          type="time"
          id="time"
          name="time"
          min="10:00"
          max="16:00"
          class="border border-bright-bg rounded-sm p-2 bg-white"
          required
        />
      </label>
      <label class="inline-flex flex-col mb-smal font-bold">
        Dato
        <input
          type="date"
          id="date"
          name="date"
          min="2025-12-29"
          class="border border-bright-bg rounded-sm p-2 bg-white"
          required
        />
      </label>
    </div>
    <fieldset
      class="flex flex-wrap items-end gap-default self-stretch content-end"
    >
      <legend class="text-header-3 my-default"
        >Allergier og ønsker til menuen</legend
      >
      <Checkbox Diet="Laktose" Icon={Milk} />
      <Checkbox Diet="Gluten" Icon={Gluten} />
      <Checkbox Diet="Nødder" Icon={Nuts} />
      <Checkbox Diet="Fisk" Icon={Fish} />
      <Checkbox Diet="Vegetarisk" Icon={Vegetarian} />
      <Checkbox Diet="Vegansk" Icon={Vegan} />
    </fieldset>
    <fieldset class="flex flex-col mb-smal font-bold gap-default">
      <legend>Kommentar</legend>
      <textarea
        name="comment"
        rows="4"
        cols="20"
        class="border border-bright-bg rounded-sm p-2 bg-white"
        placeholder="Skriv dine kommentarer her..."></textarea>
    </fieldset>
    <p>
      Obs: Hvis du har nogen spørgsmål eller bekymringer <br /> så kontakt os på
      81 61 09 00
    </p>
    <Button type="submit" showArrow={false} variant="primary"> Send </Button>
  </form>
</article>
