---


import Milk from "../../assets/icons/milk.svg";
import Gluten from "../../assets/icons/gluten-icon.svg";
import Nuts from "../../assets/icons/nuts-icon.svg";
import Fish from "../../assets/icons/fish-icon.svg";
import Vegetarian from "../../assets/icons/vegetarian-icon.svg";
import Vegan from "../../assets/icons/vegan-icon.svg";
import Checkbox from "./Checkbox.astro";
import PrimaryButton from "../PrimaryButton.astro";
import RadioButton from "./RadioButton.astro";


const requestSuccess = Astro.url.searchParams.get('requestSend') || false;

---

<section>
  <!--On Success Message -->
  {requestSuccess && (
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-smal" role="alert">
      <strong class="font-bold">Tak for din forespørgelse!</strong>
      <span class="block sm:inline">Vi kontakter dig hurtigst muligt.</span>
    </div>
  )}

  <h3>Udfyld formular og send forespørgelse</h3>
  <form method="POST" action="/api/request">
    <label class="flex flex-col mb-smal font-bold">
      Fulde Navn
      <input
        required
        type="text"
        name="fullName"
        required
        class="border border-bright-bg rounded-sm p-2 bg-white"
        placeholder="Fulde Navn"
      />
    </label>
    <label class="flex flex-col mb-smal font-bold">
      Email
      <input
        required
        type="email"
        name="email"
        required
        class="border border-bright-bg rounded-sm p-2 bg-white"
        placeholder="Fulde Navn"
      />
    </label>
    <label class="flex flex-col mb-smal font-bold">
      Telefonnummer
      <input
        required
        type="number"
        pattern="[0-9]*"
        name="phoneNumber"
        required
        class="[appearance:textfield] border border-bright-bg rounded-sm p-2 bg-white"
        placeholder="Fulde Navn"
      />
    </label>
    <fieldset>
      <legend>Anledning</legend>
      <RadioButton Occasion="Arrangement" />
      <RadioButton Occasion="Catering" />
      <RadioButton Occasion="Event" />
      <RadioButton Occasion="Kage og bestilling" />
    </fieldset>
    <div class="flex flex-col">
      <label class="inline-flex flex-col mb-smal font-bold">
        Tid
        <input
          type="time"
          id="time"
          name="time"
          min="10:00"
          max="16:00"
          class="border border-bright-bg rounded-sm p-2 bg-white"
          required
        />
      </label>
      <label class="inline-flex flex-col mb-smal font-bold">
        Dato
        <input
          type="date"
          id="date"
          name="date"
          min="2025-12-29"
          class="border border-bright-bg rounded-sm p-2 bg-white"
          required
        />
      </label>
    </div>
    <fieldset
      class="flex flex-wrap items-end gap-default self-stretch content-end"
    >
      <legend class="mb-smal">Allergier og ønsker til menuen</legend>
      <Checkbox Diet="Laktose" Icon={Milk} />
      <Checkbox Diet="Gluten" Icon={Gluten} />
      <Checkbox Diet="Nødder" Icon={Nuts} />
      <Checkbox Diet="Fisk" Icon={Fish} />
      <Checkbox Diet="Vegetarisk" Icon={Vegetarian} />
      <Checkbox Diet="Vegansk" Icon={Vegan} />
    </fieldset>
    <fieldset class="flex flex-col mb-smal font-bold">
      <legend>Kommentar</legend>
      <textarea
        name="comment"
        rows="4"
        cols="30"
        class="border border-bright-bg rounded-sm p-2 bg-white"
        placeholder="Skriv dine kommentarer her..."></textarea>
      <p>
        Obs: Hvis du har nogen spørgsmål eller bekymringer <br /> så kontakt os på
        81 61 09 00
      </p>
    </fieldset>
    <PrimaryButton type="submit" showArrow={false}> Send </PrimaryButton>
    
  </form>
</section>
