---
const { Occasion } = Astro.props;
const id = `radio-${Occasion}`;
---

<div class="flex items-center gap-small">
  <input
    type="radio"
    id={Occasion}
    name="occasion"
    value={Occasion}
    class="w-[1rem] h-[1rem] accent-neutral-1 text-highlight bg-white border-4 border-highlight focus:ring-highlight cursor-pointer"
  />
  <label for={Occasion}>
    {Occasion}
  </label>
</div>
