---
const { items = [] } = Astro.props;
import PlusIcon from "../../assets/icons/plus-icon.svg";
---

<dl class="w-full" id="accordion">
  {
    items.map((item, index) => (
      <>
        <dt class="w-full my-3" data-index={index}>
          <button
            type="button"
            class="accordion-toggle flex items-center text-left justify-between w-full border-b-1 border-text py-2"
            aria-expanded="false"
            aria-controls={`accordion-content-${index}`}
            id={`accordion-header-${index}`}
          >
            <span class="text-neutral-1 text-header-3 leading-height-header-3 font-body-text">
              {item.question}
            </span>
            <span class="icon text-white text-2xl pr-2">
              <PlusIcon />
            </span>
          </button>
        </dt>
        <dd
          id={`accordion-content-${index}`}
          class="accordion-content max-h-0 overflow-hidden pt-1 transition-all duration-500 ease-in-out"
          role="region"
          aria-labelledby={`accordion-header-${index}`}
        >
          <p class="text-paragraph font-body-text leading-height-paragraph md:text-lg text-neutral-1">
            {item.answer}
          </p>
        </dd>
      </>
    ))
  }
</dl>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll("#accordion dt");

    const plusIcon = ` 
       <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 8C0 7.44772 0.447715 7 1 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H1C0.447715 9 0 8.55228 0 8Z" fill="#300D0C"/>
        <path d="M8 0C8.55228 0 9 0.447715 9 1V15C9 15.5523 8.55228 16 8 16C7.44772 16 7 15.5523 7 15V1C7 0.447715 7.44772 0 8 0Z" fill="#300D0C"/>
        </svg>`;

    const minusIcon = `
       <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447715 16 1C16 1.55228 15.5523 2 15 2H1C0.447715 2 0 1.55228 0 1Z" fill="#300D0C"/>
        </svg>`;

    items.forEach((item) => {
      const button = item.querySelector(".accordion-toggle");
      const content = item.nextElementSibling;
      const icon = item.querySelector(".icon");

      button.addEventListener("click", () => {
        const isOpen = content.classList.contains("open");

        // Luk alle andre
        document.querySelectorAll("#accordion dd").forEach((otherContent) => {
          otherContent.style.maxHeight = null;
          otherContent.classList.remove("open");
        });
        document.querySelectorAll("#accordion .icon").forEach((otherIcon) => {
          otherIcon.innerHTML = plusIcon;
        });

        // Toggle det valgte
        if (!isOpen) {
          content.classList.add("open");
          content.style.maxHeight = content.scrollHeight + "px";
          icon.innerHTML = minusIcon;
        } else {
          content.classList.remove("open");
          content.style.maxHeight = null;
          icon.innerHTML = plusIcon;
        }
      });
    });
  });
</script>