---
import { t } from "astro-i18n";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import AfternoonTea from "../assets/img/afternoontea-page-image.webp";
import Macarons from "../assets/img/macarons.webp";
import LemonsIllustration from "../assets/illustrations/blue/lemon-pieces.svg";
import QuoteSection from "../components/QuoteSection.astro";
import AfternoonTeaTwo from "../assets/img/afternoontea-page-image-2.webp";
import BlueberryAndPears from "../assets/illustrations/blue/blueberry-and-pears.svg";
import AnchorLink from "../components/AnchorLink.astro";
---

<Layout title={t("Afternoon tea")}>
  <main>
    <div class="m-margin mb-section md:grid md:grid-cols-2">
      <div class="grid gap-extra-large">
        <div class="grid gap-default">
          <h1 class="font-header text-neutral-1 text-header-1 leading-height-header-1">{t("Afternoon Tea")}</h1>
          <p class="text-neutral-1 text-paragraph font-bold font-body-text leading-height-paragraph">{t("En hyggelig stund med te, kager og små delikatesser.")}</p>
          <p class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Perfekt til venindehygge, fejring eller en særlig pause i hverdagen.")}</p>
        </div>

        <div class="grid gap-small">
          <h3 class="text-neutral-1 text-header-3 font-body-text leading-height-header-3">{t("Hvad inkluderer Afternoon Tea hos Kær Kaffebar?")}</h3>
          <ul class="list-disc pl-default">
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Hjemmebagte scones med smør og hjemmelavet kompot")}</li>
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Petit fours – et udvalg af små, delikate kager")}</li>
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Finger sandwiches i tre forskellige varianter")}</li>
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Økologisk engelsk te – serveret ad libitum")}</li>
          </ul>
        </div>

        <div>
          <h3 class="text-neutral-1 text-header-3 font-body-text leading-height-header-3">{t("Praktisk information")}</h3>
          <ul class="list-disc pl-default">
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">{t("Tidspunkt: Afternoon Tea serveres dagligt fra kl. 13:00.")}</li>
            <li class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph font-bold">{t("Booking: reservation skal foretages senest 24 timer i forvejen")}</li>
          </ul>
        </div>
        <h2 class="text-neutral-1 font-body-text text-header-2 leading-height-header-2">{t("Pris 225,- pr kuvert")}</h2>
        <AnchorLink variant="primary" url="https://kaerkaffebar.superbexperience.com/" ariaLabel={t("book bord til afternoon tea")}>{t("Book bord")}</AnchorLink>
      </div>

      <div class="grid grid-cols-2 grid-rows-[0.5fr_1fr_1fr] gap-default mt-negative md:hidden">
        <div class="rounded-default col-start-1 col-end-2 row-span-3 overflow-hidden">
          <Image loading="eager" class="object-cover w-full h-full object-left" src={AfternoonTea} alt={t("Afternoon tea")} />
        </div>
        <Image loading="eager" class="col-start-2 col-end-3 row-span-1 justify-self-center self-center" src={LemonsIllustration} alt={t("citroner illustration")} />
        <div class="rounded-full col-start-2 col-end-3 row-span-2 overflow-hidden">
          <Image loading="eager" class="object-cover w-full h-full object-right" src={Macarons} alt={t("macarons")} />
        </div>
      </div>

      <div class="hidden md:grid md:grid-cols-2 md:grid-rows-[0.1fr_0.2fr_0.2fr_0.5fr] md:gap-default md:mt-negative">
        <div class="rounded-default col-start-1 col-end-2 row-span-3 overflow-hidden">
          <Image loading="eager" class="object-cover w-full h-full object-left" src={AfternoonTea} alt={t("afternoon tea")} />
        </div>
        <Image loading="eager" class="col-start-2 col-end-3 row-span-1 justify-self-center self-center" src={LemonsIllustration} alt={t("citroner illustration")} />
        <div class="rounded-full col-start-2 col-end-3 row-span-2 overflow-hidden">
          <Image loading="eager" class="object-cover w-full h-full object-right" src={Macarons} alt={t("macarons")} />
        </div>
        <Image loading="eager" class="col-start-1 col-end-2 row-span-1 justify-self-center self-center h-[200px] w-[200px]" src={BlueberryAndPears} alt={t("blåbær og pære illustration")} />
        <div class="rounded-default col-start-2 col-end-3 row-span-1 overflow-hidden">
          <Image loading="eager" class="object-cover w-full h-full object-left" src={AfternoonTeaTwo} alt={t("afternoon tea")} />
        </div>
      </div>
    </div>

    <div class="mb-negative fade-section">
      <QuoteSection content={t("Skab nye minder over fine porcelænskopper, varme scones og liflig te – en lille stund af ro og forkælelse midt i Valby.")} bgColor="bg-neutral-3" />
    </div>
  </main>
</Layout>

<style>
  .fade-section {
    opacity: 1;
    transform: translateY(50px);
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray(".fade-section").forEach((section) => {
    gsap.from(section, {
      opacity: 0,
      y: 100,
      duration: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: section,
        start: "top 80%",
      },
    });
  });
</script>
