---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";

//images for herosection
import HerosectionBrunchplate from "../assets/img/herosection-brunch-plate.webp";
import MiniTarts from "../assets/img/mini-tarts-closeup.webp";
import CinnamonRolls from "../assets/img/cinnamon-rolls-closeup.webp";
import SourdoughBuns from "../assets/img/sourdough-buns-closeup.webp";
import Logo from "../assets/icons/logo.svg";

//images for menusection
import CroissantIllustration from "../assets/illustrations/blue/croissant.avif";
import BrunchplateHerosection from "../assets/img/herosection-brunch-plate.webp";
import IceCoffeeWaffle from "../assets/img/ice-coffee-waffle.webp";
import OrganicLogo from "../assets/icons/organic-logo.svg";
import LatteartCloseup from "../assets/img/latte-art-closeup.webp";

//heavy text section illustrations
import Blueberry from "../assets/illustrations/blue/blueberry.avif";
import CoffeeMug from "../assets/illustrations/blue/mug.avif";
import Lemon from "../assets/illustrations/blue/whole-lemon.avif";
import Croissant from "../assets/illustrations/blue/croissant.avif";
---

<Layout title="Forside">
  <main class="grid gap-negative">
    <section class="relative h-screen w-screen overflow-hidden">
      <Image src={HerosectionBrunchplate} alt="brunch" class="absolute inset-0 w-full h-full object-cover fade-image fade-1" />
      <Image src={SourdoughBuns} alt="tærter" class="absolute inset-0 w-full h-full object-cover fade-image fade-2" />
      <Image src={MiniTarts} alt="smørrebrød" class="absolute inset-0 w-full h-full object-cover fade-image fade-3" />
      <Image src={CinnamonRolls} alt="boller" class="absolute inset-0 w-full h-full object-cover fade-image fade-4" />

      <div class="absolute inset-0 bg-black/40 z-10"></div>

      <div class="absolute inset-0 z-20 flex flex-col items-center justify-center text-primary text-center pl-default pr-default">
        <img src={Logo.src} class="w-[300px] md:w-[500px] mb-6" alt="Kær Kaffebar logo" />
        <h1 class="text-4xl md:text-6xl font-bold text-primary">... den hyggeligste kaffebar i Valby</h1>
      </div>
    </section>

    <section class="grid gap-large pl-default pr-default">
      <h1 class="text-neutral-1 text-header-1 text-center">Menu</h1>
      <div class="grid grid-cols-2 grid-rows-[auto, 1fr, 1fr, auto] gap-default justify-center">
        <Image width={120} height={120} src={CroissantIllustration} alt="croissant illustration" class="justify-self-center" />
        <div class="h-[140px] overflow-hidden rounded-full">
          <Image src={IceCoffeeWaffle} alt="iskaffe og vaffel" class="object-cover w-full h-full object-left" />
        </div>
        <Image src={BrunchplateHerosection} alt="brunch tallerken" class="col-span-2 rounded-default" />
        <Image src={LatteartCloseup} alt="latte art closeup" class="rounded-default" />
        <img src={OrganicLogo.src} alt="økologi logo" />
      </div>
      <Button url="/menu" variant="primary" ariaLabel="Se menu">Se menu</Button>
    </section>
    <section>
      <div class="bg-neutral-2 max-w-[98vw] pl-default pt-large pb-large rounded-r-full">
        <p class="text-neutral-1 text-label"><strong>Indehaver af Kær Kaffebar</strong></p>
        <h2 class="text-neutral-1 max-w-[74vw]">“Kær Kaffebar er skabt ud fra en drøm om nærvær, god kaffe – og lysten til at gøre en forskel i lokalsamfundet.”</h2>
      </div>
    </section>
    <section class="relative pt-[150px] pb-[150px]">
      <Image class="blueberry absolute top-0 left-[-50px]" src={Blueberry} alt="blåbær" />
      <Image class="coffeemug absolute top-4 right-0" src={CoffeeMug} alt="kaffekop" />
      <h2 class="text-center text-accent">Fra friskbagte boller til brunchtallerkener – vi gør os umage hver dag for at servere mad, der smager af [kær]lighed.</h2>
      <Image class="lemon absolute bottom-4 right-0" src={Lemon} alt="citron" />
      <Image class="croissant absolute bottom-0 left-0" src={Croissant} width={90} height={90} alt="croissant" />
    </section>
  </main>
</Layout>

<style>
  .fade-image {
    opacity: 0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transition: opacity 5s ease-in-out;
    z-index: 0;
  }

  .fade-1 {
    animation-name: fade1;
  }
  .fade-2 {
    animation-name: fade2;
  }
  .fade-3 {
    animation-name: fade3;
  }
  .fade-4 {
    animation-name: fade4;
  }

  @keyframes fade1 {
    0%,
    20% {
      opacity: 1;
    }
    25%,
    100% {
      opacity: 0;
    }
  }
  @keyframes fade2 {
    20%,
    40% {
      opacity: 1;
    }
    0%,
    19%,
    45%,
    100% {
      opacity: 0;
    }
  }
  @keyframes fade3 {
    40%,
    60% {
      opacity: 1;
    }
    0%,
    39%,
    65%,
    100% {
      opacity: 0;
    }
  }
  @keyframes fade4 {
    60%,
    80% {
      opacity: 1;
    }
    0%,
    59%,
    85%,
    100% {
      opacity: 0;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".blueberry", {
    scrollTrigger: {
      trigger: ".blueberry",
      toggleActions: "play pause reverse",
      start: "0px 80%",
      end: "+=500",
      markers: true,
    },
    x: 80,
    y: 50,
    rotation: 90,
    duration: 2,
  });

  gsap.to(".coffeemug", {
    scrollTrigger: {
      trigger: ".coffeemug",
      toggleActions: "play pause reverse",
      start: "0px 80%",
      end: "+=500",
    },
    x: -10,
    y: 50,
    rotation: 30,
    duration: 2,
  });

  gsap.to(".croissant", {
    scrollTrigger: {
      trigger: ".croissant",
      toggleActions: "play pause reverse",
      start: "-150px 80%",
      end: "+=500",
      markers: true,
    },
    x: 50,
    y: -70,
    rotation: 90,
    duration: 2,
  });

  gsap.to(".lemon", {
    scrollTrigger: {
      trigger: ".lemon",
      toggleActions: "play pause reverse",
      start: "-150px 80%",
      end: "+=500",
      markers: true,
    },
    x: -5,
    y: -30,
    rotation: 20,
    duration: 2,
  });
</script>
