---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import ImageTextSection from "../components/ImageTextSection.astro";
import GallerySliderSection from "../components/gallery/GallerySliderSection.astro";
import QuoteSection from "../components/QuoteSection.astro";

//images for herosection
import HerosectionBrunchplate from "../assets/img/herosection-brunch-plate.webp";
import MiniTarts from "../assets/img/mini-tarts-closeup.webp";
import CinnamonRolls from "../assets/img/cinnamon-rolls-closeup.webp";
import SourdoughBuns from "../assets/img/sourdough-buns-closeup.webp";
import Logo from "../assets/icons/logo.svg";

//images for menusection
import CroissantIllustration from "../assets/illustrations/blue/croissant.avif";
import BrunchplateHerosection from "../assets/img/herosection-brunch-plate.webp";
import IceCoffeeWaffle from "../assets/img/ice-coffee-waffle.webp";
import OrganicLogo from "../assets/icons/organic-logo.svg";
import LatteartCloseup from "../assets/img/latte-art-closeup.webp";
import CoffeePot from "../assets/illustrations/blue/coffepot.avif";
import Blueberry from "../assets/illustrations/blue/blueberry.avif";
import SmoerrebroedCloseUp from "../assets/img/smørrebrød-closeup.webp";

//heavy text section illustrations
import CoffeeMug from "../assets/illustrations/blue/mug.avif";
import Lemon from "../assets/illustrations/blue/lemons.svg";
import Croissant from "../assets/illustrations/blue/croissant.avif";

//arrangement section illustration
import ArrangementIllustration from "../assets/illustrations/brown/afternoon-tea-illustration.png";

//runningclub section image and illustration
import RunningImage from "../assets/img/running-img.webp";
import CoffeeCupIllustration from "../assets/illustrations/blue/kaer-coffecup.webp";

//Afternoon tea and coffee section images and illustrations
import AfternoonTeaImage from "../assets/img/afternoon-tea.webp";
import CoffeeBacksImage from "../assets/img/coffee-beans-backs.webp";
import Marquee from "../components/Marquee.astro";

//Images for stampcard section
import Stampcard from "../assets/img/stempelkort.webp";
---

<Layout title="Forside">
  <main class="grid gap-negative">
    <!-- Herosection -->
    <section class="relative h-screen w-screen overflow-hidden rounded-b-xl">
      <Image
        src={HerosectionBrunchplate}
        alt="brunch"
        class="absolute inset-0 w-full h-full object-cover fade-image fade-1"
      />
      <Image
        src={SourdoughBuns}
        alt="tærter"
        class="absolute inset-0 w-full h-full object-cover fade-image fade-2"
      />
      <Image
        src={MiniTarts}
        alt="smørrebrød"
        class="absolute inset-0 w-full h-full object-cover fade-image fade-3"
      />
      <Image
        src={CinnamonRolls}
        alt="boller"
        class="absolute inset-0 w-full h-full object-cover fade-image fade-4"
      />

      <div class="absolute inset-0 bg-black/40 z-10"></div>

      <div
        class="absolute inset-0 z-20 flex flex-col items-center justify-center text-primary text-center pl-default pr-default"
      >
        <img
          src={Logo.src}
          class="w-[300px] md:w-[500px] mb-6"
          alt="Kær Kaffebar logo"
        />
        <h1
          class="text-4xl md:text-6xl font-bold text-header leading-height-header-1 text-primary"
        >
          ...den hyggeligste kaffebar i Valby
        </h1>
      </div>
    </section>

    <!-- Menusection -->
    <section
      class="grid gap-large pl-default pr-default md:px-large lg:px-0 max-w-[1192px] mx-auto"
    >
      <h1
        class="text-neutral-1 text-header-1 text-center text-header leading-height-header-1"
      >
        Menu
      </h1>
      <div
        class="grid grid-cols-2 grid-rows-[auto, 1fr, 1fr, auto] gap-default justify-center md:hidden"
      >
        <Image
          width={120}
          height={120}
          src={CroissantIllustration}
          alt="croissant illustration"
          class="justify-self-center"
        />
        <div class="h-[140px] overflow-hidden rounded-full">
          <Image
            src={IceCoffeeWaffle}
            alt="iskaffe og vaffel"
            class="object-cover w-full h-full object-left"
          />
        </div>
        <Image
          src={BrunchplateHerosection}
          alt="brunch tallerken"
          class="col-span-2 rounded-default"
        />
        <Image
          src={LatteartCloseup}
          alt="latte art closeup"
          class="rounded-default"
        />
        <img
          src={OrganicLogo.src}
          alt="økologi logo"
          class="justify-self-center self-center"
        />
      </div>
      <div>
        <div
          class="hidden md:grid md:grid-cols-5 md:grid-rows-[0.1fr_0.5fr_0.5fr_0.5fr] md:gap-default md:justify-center"
        >
          <Image
            width={120}
            height={120}
            src={CroissantIllustration}
            alt="croissant illustration"
            class="justify-self-center self-center col-start-1 col-end-2 row-start-1 row-end-3"
          />
          <div
            class="overflow-hidden rounded-full col-start-2 col-end-4 row-start-1 row-end-3"
          >
            <Image
              src={IceCoffeeWaffle}
              alt="iskaffe og vaffel"
              class="object-cover w-full h-full"
            />
          </div>
          <div
            class="col-start-4 col-end-5 row-start-1 row-end-3 overflow-hidden rounded-default"
          >
            <Image
              src={LatteartCloseup}
              alt="latte art closeup"
              class="object-cover w-full h-full"
            />
          </div>

          <Image
            src={Blueberry}
            alt="blåbær illustration"
            class="justify-self-center self-center col-start-5 col-end-5 row-start-1 row-end-2"
          />

          <Image
            src={BrunchplateHerosection}
            alt="brunch tallerken"
            class="col-start-1 col-end-3 row-start-3 row-end-5 rounded-default"
          />

          <img
            src={OrganicLogo.src}
            alt="økologi logo"
            class="justify-self-center self-center col-start-3 col-end-4 row-start-3 row-end-5"
          />

          <Image
            src={CoffeePot}
            alt="kaffekande illustration"
            class="col-start-4 col-end-5 row-start-3 row-end-5"
          />

          <div
            class="overflow-hidden rounded-full col-start-[5] col-end-[6] row-start-[2] row-end-[5]"
          >
            <Image
              src={CinnamonRolls}
              alt="kanelsnurre"
              class="object-cover w-full h-full"
            />
          </div>
        </div>
      </div>
      <div class="grid sm:justify-items-center">
        <Button url="/menu" variant="primary" ariaLabel="Se menu"
          >Se menu</Button
        >
      </div>
    </section>

    <!-- Quote section -->
    <QuoteSection
      label="Indehaver af Kær Kaffebar"
      content="“Kær Kaffebar er skabt ud fra en drøm om nærvær, god kaffe – og lysten til at gøre en forskel i lokalsamfundet.”"
      bgColor="bg-neutral-2"
    />

    <!-- Afternoon tea section -->
    <section class="max-w-[1192px] md:mx-auto">
      <ImageTextSection
        headline="Afternoon Tea i Valby"
        subheadline="Perfekt til venindetid, fejring eller bare lidt ekstra selvforkælelse."
        content="Hos Kær Kaffebar inviterer vi dig til en klassisk Afternoon Tea – fyldt med hjemmelavede kager, friskbagte scones, sandwiches og økologisk te ad libitum. Alt serveret med [kær]lighed, i ægte vintagekopper, hvor detaljerne gør hele forskellen."
        reverse={true}
        imageSrc={AfternoonTeaImage}
        aspectRatio="aspect-[1/1.2]"
        imageAlt="afternoon tea billede"
        imageContainerSize="max-h-[600px]"
        buttonText="Book bord"
        url="https://kaerkaffebar.superbexperience.com/"
        roundedBorder="rounded-full"
        objectPostion="object-left"
      />
    </section>

    <!-- Arrangement section -->
    <section class="px-default lg:px-0 max-w-[1192px] mx-auto">
      <div class="grid gap-default md:gap-large md:grid-cols-2">
        <div
          class="flex items-end justify-center overflow-hidden h-[350px] md:h-full bg-neutral-3 rounded-default"
        >
          <Image
            class="h-[200px] sm:h-[330px] md:h-[350px] w-auto"
            src={ArrangementIllustration}
            alt="arrangement illustration"
          />
        </div>
        <div
          class="p-default bg-highlight grid gap-default rounded-default shadow-pink"
        >
          <h1
            class="text-neutral-1 font-header text-header-1 leading-height-header-1"
          >
            Book vores lokale til dit næste arrangement
          </h1>
          <div class="grid gap-default">
            <p
              class="text-neutral-1 text-paragraph font-bold font-body-text leading-height-paragraph"
            >
              Skab mindeværdige øjeblikke i hjertet af Valby.
            </p>
            <h3
              class="text-neutral-1 font-body-text text-header-3 leading-height-header-3"
            >
              Drømmer du om en hyggelig, personlig ramme til dit næste
              arrangement? Hos Kær Kaffebar åbner vi dørene for alt fra
              fødselsdage og firmaevents til PR-events og små, private fester.
              Vores café byder på en varm atmosfære, smuk indretning og
              økologiske specialiteter, der sætter prikken over i'et på din dag.
            </h3>
          </div>
          <div class="grid">
            <Button variant="primary" url="/arrangement" ariaLabel="Læs mere"
              >Læs mere</Button
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Heavy text with animation section -->
    <section
      class="relative px-default lg:px-0 pt-[150px] pb-[150px] max-w-[1192px] mx-auto"
    >
      <Image
        class="blueberry absolute top-0 left-[-50px]"
        src={Blueberry}
        alt="blåbær"
        width={70}
        height={70}
      />
      <Image
        class="coffeemug absolute top-4 right-0"
        src={CoffeeMug}
        alt="kaffekop"
        width={90}
        height={90}
      />
      <h2
        class="text-center text-accent text-header-2 font-body-text leading-height-header-2"
      >
        Fra friskbagte boller til brunchtallerkener – vi gør os umage hver dag
        for at servere mad, der smager af [kær]lighed.
      </h2>
      <Image
        class="lemon absolute bottom-4 right-0"
        src={Lemon}
        alt="citron"
        width={90}
        height={90}
      />
      <Image
        class="croissant absolute bottom-0 left-0"
        src={Croissant}
        width={90}
        height={90}
        alt="croissant"
      />
    </section>

    <!-- Coffee section -->
    <section class="max-w-[1192px] mx-auto">
      <ImageTextSection
        headline="Kær’s kaffe"
        subheadline="God kaffe. God stemning. Godt selskab."
        content="Hos Kær Kaffebar brygger vi ikke bare kaffe – vi skaber oplevelser. Vi samarbejder med Just Coffee, der leverer økologiske, bæredygtige bønner af højeste kvalitet, så hver eneste kop hos os er fuld af smag, kærlighed og omtanke."
        imageSrc={CoffeeBacksImage}
        imageAlt="just coffee kaffe bønner poser"
        buttonText="Læs mere"
        url="/menu/#coffeesection"
        roundedBorder="rounded-default"
      />
    </section>

    <!-- Runningclub section -->
    <section class="px-default xl:px-0 max-w-[1192px] mx-auto grid gap-large">
      <h1
        class="text-neutral-1 text-header-1 font-header leading-height-header-1"
      >
        Kær løbeklub
      </h1>
      <div class="grid gap-large">
        <div class="grid gap-large md:grid-cols-2">
          <div class="bg-neutral-2 p-large rounded-default md:order-1">
            <h3
              class="text-neutral-1 text-header-3 font-body-text leading-height-header-3"
            >
              Vidste du, at vi også løber sammen? <strong
                >Kær Kaffebar's løbeklub</strong
              > handler om <strong
                >glæde ved bevægelse – ikke præstationer.</strong
              >
            </h3>
          </div>
          <div class="h-[180px] overflow-hidden rounded-full md:h-[200px]">
            <Image
              src={RunningImage}
              alt="løbe billede"
              class="object-cover w-full h-full object-bottom"
            />
          </div>
        </div>
        <div class="grid gap-large md:grid-cols-[1.5fr_0.7fr]">
          <h2
            class="text-neutral-1 text-header-3 font-body-text leading-height-header-2"
          >
            Alle er velkomne – uanset form eller erfaring. Kom med næste gang og
            få motion, smil og måske en ny ven på vejen!
          </h2>
          <div
            class="h-[140px] bg-secondary relative rounded-full md:h-[200px]"
          >
            <Image
              src={CoffeeCupIllustration}
              width={120}
              height={120}
              alt="kaffekop illustration"
              class="absolute top-2.5 right-1 md:top-8"
            />
          </div>
        </div>
      </div>
      <div class="grid sm:justify-items-center">
        <Button
          variant="primary"
          url="/runningclub"
          ariaLabel="tilmeld dig løbeklub">Tilmeld dig løbeklub</Button
        >
      </div>
    </section>
    <!-- Stampcard section -->
    <section class="relative flex items-center justify-center flex-col">
      <h1 class="text-header-1 font-header">Kær Kaffebar stempelkort</h1>
      <p class="text-header-3 font-body-text">Få din 9. kop på huset med et gratis kaffe stempelkort</p>
      <Image
        src={Stampcard}
        width={700}
        height={700}
        alt="rødt hvidt stempelkort af kær kaffebar"
        class="relative z-50"
      />
      <div class="absolute top-1/2 left-0 w-full h-full">
        <Marquee />
      </div>
    </section>

    <!-- Gallery section -->
    <section class="px-default xl:px-0 max-w-[1192px] mx-auto">
      <GallerySliderSection />
    </section>
  </main>
</Layout>

<style>
  .fade-image {
    opacity: 0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transition: opacity 5s ease-in-out;
    z-index: 0;
  }

  .fade-1 {
    animation-name: fade1;
  }
  .fade-2 {
    animation-name: fade2;
  }
  .fade-3 {
    animation-name: fade3;
  }
  .fade-4 {
    animation-name: fade4;
  }

  @keyframes fade1 {
    0%,
    25% {
      opacity: 1;
    }
    30%,
    100% {
      opacity: 0;
    }
  }

  @keyframes fade2 {
    25%,
    50% {
      opacity: 1;
    }
    0%,
    24%,
    55%,
    100% {
      opacity: 0;
    }
  }

  @keyframes fade3 {
    50%,
    75% {
      opacity: 1;
    }
    0%,
    49%,
    80%,
    100% {
      opacity: 0;
    }
  }

  @keyframes fade4 {
    75%,
    100% {
      opacity: 1;
    }
    0%,
    74% {
      opacity: 0;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".blueberry", {
    scrollTrigger: {
      trigger: ".blueberry",
      toggleActions: "play pause reverse",
      start: "0px 80%",
      end: "+=500",
    },
    x: 80,
    y: 50,
    rotation: 90,
    duration: 2,
  });

  gsap.to(".coffeemug", {
    scrollTrigger: {
      trigger: ".coffeemug",
      toggleActions: "play pause reverse",
      start: "0px 80%",
      end: "+=500",
    },
    x: -10,
    y: 50,
    rotation: 30,
    duration: 2,
  });

  gsap.to(".croissant", {
    scrollTrigger: {
      trigger: ".croissant",
      toggleActions: "play pause reverse",
      start: "-150px 80%",
      end: "+=500",
    },
    x: 50,
    y: -70,
    rotation: 90,
    duration: 2,
  });

  gsap.to(".lemon", {
    scrollTrigger: {
      trigger: ".lemon",
      toggleActions: "play pause reverse",
      start: "-150px 80%",
      end: "+=500",
    },
    x: -5,
    y: -30,
    rotation: 20,
    duration: 2,
  });
</script>
