---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";

import CroissantIllustration from "../assets/illustrations/blue/croissant.avif";
import BrunchplateHerosection from "../assets/img/herosection-brunch-plate.webp";
import IceCoffeeWaffle from "../assets/img/ice-coffee-waffle.webp";
import OrganicLogo from "../assets/icons/organic-logo.svg";
import LatteartCloseup from "../assets/img/latte-art-closeup.webp";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Forside">
  <main class="grid gap-negative">
    <section class="grid gap-large pl-default pr-default">
      <h1 class="text-neutral-1 text-header-1 text-center">Menu</h1>
      <div class="grid grid-cols-2 grid-rows-[auto, 1fr, 1fr, auto] gap-default justify-center">
        <Image width={120} height={120} src={CroissantIllustration} alt="croissant illustration" class="justify-self-center" />
        <div class="h-[140px] overflow-hidden rounded-full">
          <Image src={IceCoffeeWaffle} alt="iskaffe og vaffel" class="object-cover w-full h-full object-left" />
        </div>
        <Image src={BrunchplateHerosection} alt="brunch tallerken" class="col-span-2 rounded-default" />
        <Image src={LatteartCloseup} alt="latte art closeup" class="rounded-default" />
        <Image src={OrganicLogo} alt="økologi logo" />
      </div>
      <Button url="/menu" variant="primary" ariaLabel="Se menu">Se menu</Button>
    </section>
    <section>
      <div class="bg-neutral-2 max-w-[98vw] p-large rounded-r-full">
        <p class="text-neutral-1 text-label"><strong>Indehaver af Kær Kaffebar</strong></p>
        <h2 class="text-neutral-1 max-w-[74vw]">“Kær Kaffebar er skabt ud fra en drøm om nærvær, god kaffe – og lysten til at gøre en forskel i lokalsamfundet.”</h2>
      </div>
    </section>
    <section>
      <h2 class="text-center text-neutral-1">Fra friskbagte boller til brunchtallerkener – vi gør os umage hver dag for at servere mad, der smager af [kær]lighed.</h2>
    </section>
  </main>
</Layout>
