---
// i18n
import { t } from "astro-i18n";

import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

//Komponenter
import { Image } from "astro:assets";
import Readline from "../components/menu/Readline.astro";
import CategoryHeadline from "../components/menu/CategoryHeadline.astro";
import TimeSlot from "../components/menu/TimeSlot.astro";
import ProductHeadline from "../components/menu/ProductHeadline.astro";
import Description from "../components/menu/Description.astro";
import AddItem from "../components/menu/AddItem.astro";
import DietIndicators from "../components/menu/DietIndicators.astro";
import GallerySliderSection from "../components/gallery/GallerySliderSection.astro";

//Billeder
import Coffee from "../assets/img/coffee-beans.webp";

//illustrations
import PancakeIllustration from "../assets/illustrations/blue/pancakes.svg";
import CroissantIllustration from "../assets/illustrations/blue/croissant.svg";
import SmoerrebroedIllustration from "../assets/illustrations/blue/smoerrebroed.svg";
import CoffeeMug from "../assets/illustrations/blue/coffee-cup.svg";
import ColdDrinks from "../assets/illustrations/blue/cold-drink.svg";
---

<Layout title={t("menu")}>
  <main class="m-margin mb-section">
    <h1 class="text-header-1 font-header leading-height-header-1 text-neutral-1 text-center mb-large">
      {t("Menu")}
    </h1>
    <section class="md:max-w-[1000px] md:mx-auto sticky top-[100px] md:top-[110px] z-20">
      <Readline />
    </section>
    <div class="mt-large">
      <Image class="mx-auto md:mb-large h-[80px] w-[80px]" src={PancakeIllustration} alt={t("pandekage illustration")} loading="eager" />
      <div class="grid gap-extra-large md:gap-negative mt-small md:mt-large md:max-w-[1000px] md:mx-auto">
        <section class="grid gap-extra-large md:gap-negative md:grid-cols-2">
          <section class="grid gap-default md:grid-rows-[0.1fr_0.5fr_auto] md:gap-extra-large" id="brunch">
            <header class="grid justify-center gap-default md:justify-start text-center">
              <CategoryHeadline headline={t("Brunch")} />
              <div class="grid justify-center md:justify-start">
                <TimeSlot time={t("09:00 - 14:00")} />
              </div>
            </header>
            <div class="grid gap-medium md:h-fit">
              <article>
                <ProductHeadline variant="primary" headline={t("Kær tallerken")} price={t("95 kr")} />
                <Description content={t("Lille morgenkomplet med blødkogt øko æg, avokado, yogurt, frugt, smør, syltetøj, okø ost, brød")} />
              </article>
              <section>
                <h4 class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Tilføj")}</strong>
                </h4>
                <ul>
                  <AddItem item={t("Æg 12 kr")} />
                  <AddItem item={t("Gammelknas 20 kr")} />
                  <AddItem item={t("Fennikel salami 12 kr")} />
                  <AddItem item={t("Pålægschokolade 12 kr")} />
                  <AddItem item={t("Tunsalat 20 kr")} />
                  <AddItem item={t("Croissant 20 kr")} />
                </ul>
              </section>
            </div>
            <section class="grid gap-medium md:h-fit">
              <article>
                <ProductHeadline variant="primary" headline={t("Kær brunch")} price={t("175 kr")} />
                <Description content={t("Stor brunch med æggekage af øko æg, røget oksepølse, hummus m. rugbrødschips, gammel knas ost, yogurt, fennikel salami, avokado, frugt, syltetøj, smør, brød")} />
              </article>
              <section>
                <h4 class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Tilføj")}</strong>
                </h4>
                <ul>
                  <AddItem item={t("Pålægschokolade 12 kr")} />
                  <AddItem item={t("Tunsalat 20 kr")} />
                  <AddItem item={t("Croissant 20 kr")} />
                </ul>
              </section>
            </section>
          </section>
          <div class="grid gap-extra-large md:gap-negative">
            <section class="grid gap-default" id="vafler">
              <div class="grid justify-center gap-default md:justify-start md:gap-medium">
                <CategoryHeadline headline={t("Vafler")} />
              </div>
              <ul class="grid gap-medium">
                <li>
                  <ProductHeadline variant="primary" headline={t("Valnødder")} price={t("85 kr")} />
                  <Description content={t("2 kærlighedsvafler med valnøddecremeost, brombærkompot, valnødder og skovsyre")} />
                </li>
                <li>
                  <ProductHeadline variant="primary" headline={t("Yoghurt og bær")} price={t("45 kr")} />
                  <Description content={t("2 kærlighedsvafler med græsk yoghurt, bær og kokos flager")} />
                </li>
                <li>
                  <ProductHeadline variant="primary" headline={t("Choko og banan")} price={t("45 kr")} />
                  <Description content={t("2 kærlighedsvafler med chokoladesov, banan, flødeskum og ristede hasselnødder")} />
                </li>
                <li>
                  <ProductHeadline variant="primary" headline={t("Enkel vaffel")} price={t("43 kr")} />
                  <Description content={t("1 kærlighedsvaffel med sirup")} />
                </li>
              </ul>
            </section>
            <section class="grid gap-default" id="bowls">
              <header class="grid justify-center gap-default md:justify-start md:gap-medium">
                <CategoryHeadline headline={t("Bowls")} />
              </header>

              <ul class="grid gap-medium">
                <li class="grid gap-medium">
                  <article>
                    <ProductHeadline variant="primary" headline={t("Acaí bowl")} price={t("85 kr")} />
                    <Description content={t("Bær, banan og acaí blended og toppet med friske bær, kokos og hjemmeristet granola")} />
                    <section>
                      <h4 class="text-neutral-1 text-paragraph-2">
                        <strong>{t("Tilføj")}</strong>
                      </h4>
                      <ul>
                        <li><AddItem item={t("Peanutbutter 5 kr")} /></li>
                      </ul>
                    </section>
                  </article>
                </li>
                <li>
                  <article>
                    <ProductHeadline variant="primary" headline={t("Brombær og valnødder")} price={t("79 kr")} />
                    <Description content={t("Græsk yoghurt med brombærkompot, valnødder, hjemmeristet granola og skovsyre")} />
                  </article>
                </li>
                <li>
                  <ProductHeadline variant="secondary" headline={t("Peanutbutter og banan")} price={t("79 kr")} />
                  <Description content={t("Græsk yoghurt, peanubutter, banan, bær, hjemmeristet granola, hampefrø og kanel")} />
                </li>
              </ul>
            </section>
          </div>
        </section>
      </div>

      <div class="mt-negative">
        <Image class="mx-auto md:mb-large h-[80px] w-[80px]" src={CroissantIllustration} alt={t("croissant illustration")} loading="lazy" />
        <div class="grid gap-extra-large mt-small md:mt-large md:gap-negative md:grid-cols-2">
          <section class="grid gap-default" id="broed">
            <header class="grid justify-center gap-default md:justify-start">
              <CategoryHeadline headline={t("Brød og pålæg")} illustration={CroissantIllustration} alt={t("croissant")} width={60} height={60} />
            </header>
            <ul class="grid gap-medium">
              <li class="list-none">
                <ProductHeadline variant="primary" headline={t("BMO øko ost")} price={t("35 kr")} />
                <Description content={t("Hjemmebagt surdejsbolle m. øko ost")} />
              </li>
              <li class="list-none">
                <ProductHeadline variant="primary" headline={t("BMO gammel knas")} price={t("45 kr")} />
                <Description content={t("Hjemmebagt surdejsbolle m. gammel knas ost")} />
              </li>
              <li class="list-none">
                <ProductHeadline variant="primary" headline={t("Rugbrød og æg")} price={t("45 kr")} />
                <Description content={t("Smilende øko æg m. smør og ristet rugbrød")} />
              </li>
              <li class="list-none">
                <ProductHeadline variant="primary" headline={t("Fyldt croissant")} price={t("45 kr")} />
                <Description content={t("Croissant med ost, skinke og feldsalat. Lunet.")} />
              </li>
              <section>
                <h4 class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Til brødet")}</strong>
                </h4>
                <ul>
                  <AddItem item={t("Gammel knas 12 kr")} />
                  <AddItem item={t("Fennikel salami 12 kr")} />
                  <AddItem item={t("Hjemmelavet syltetøj 10 kr")} />
                  <AddItem item={t("Pålægschokolade 12 kr")} />
                  <AddItem item={t("Tunsalat 20 kr")} />
                  <AddItem item={t("Honning 5 kr")} />
                </ul>
              </section>
            </ul>
          </section>
          <section class="grid gap-default md:grid-rows-[0.1fr_auto]" id="bagvaerk">
            <header class="grid justify-center gap-default md:justify-start h-fit">
              <CategoryHeadline headline={t("Bagværk")} />
              <i class="text-center md:text-left"><Description content={t("Dagens bagværk varierer. Se montre for dagens udvalg.")} /></i>
            </header>
            <ul class="grid gap-medium">
              <li>
                <ProductHeadline variant="primary" headline={t("Croissant")} price={t("29 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Frøsnapper")} price={t("29 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Cookie")} price={t("32 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Surdejsbolle")} price={t("15 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Øko kaneltop")} price={t("32 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Muffin")} price={t("35 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Cupcake")} price={t("42 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Banankage")} price={t("35 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Mousse")} price={t("40/35 kr")} />
              </li>
            </ul>
          </section>
        </div>
      </div>
      <section class="mt-negative">
        <Image class="mx-auto md:mb-large h-[90px] w-[90px]" src={SmoerrebroedIllustration} alt={t("smørrebrød illustration")} loading="lazy" />
        <div class="grid gap-extra-large md:gap-negative md:grid-cols-2">
          <section class="grid gap-default md:grid-rows-[0.1fr_0.5fr_0.2fr_auto] md:gap-extra-large" id="smoerrebroed">
            <header class="grid justify-center gap-default md:justify-start">
              <CategoryHeadline headline={t("Smørrebrød")} illustration={SmoerrebroedIllustration} alt={t("smørrebrød")} width={60} height={60} />
              <div class="grid justify-center md:justify-start">
                <TimeSlot time={t("Fra kl. 10")} />
              </div>
            </header>
            <div class="grid gap-medium">
              <div>
                <ProductHeadline variant="primary" headline={t("Avocadomad")} price={t("90 kr")} />
                <Description content={t("Avocado, hvidløgsspire, råsyltede rødløg, persillepesto")} />
              </div>
              <div>
                <p class="text-neutral-1 text-paragraph">
                  <strong>{t("Vælg brød")}</strong>
                </p>
                <AddItem item={t("Rugbrød")} />
                <AddItem item={t("Focaccia")} />
              </div>
              <div>
                <p class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Tilføj")}</strong>
                </p>
                <AddItem item={t("Smilende æg 20 kr")} />
              </div>
            </div>
            <div>
              <ProductHeadline variant="primary" headline={t("Kartoffelmad")} price={t("85 kr")} />
              <Description content={t("Kartoffel, urtemayonnaise, gammel knas, feld salat, frisk timian og brøndkarse på rugbrød")} />
            </div>
            <div class="grid gap-medium md:grid-rows-[0.1fr_auto]">
              <div>
                <ProductHeadline variant="primary" headline={t("Æggemad")} price={t("85 kr")} />
                <Description content={t("Smilende æg, urtemayonnaise, brøndkarse, dild og feldsalat på rugbrød")} />
              </div>
              <div>
                <h4 class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Tilføj")}</strong>
                </h4>
                <AddItem item={t("Rejer 20 kr")} />
              </div>
            </div>
          </section>
          <div class="grid gap-extra-large">
            <section class="grid gap-default" id="sandwich">
              <header class="grid justify-center gap-default md:justify-start">
                <CategoryHeadline headline={t("Sandwich")} />
              </header>
              <ul class="grid gap-medium">
                <li>
                  <ProductHeadline variant="primary" headline={t("Tunsandwich")} price={t("95 kr")} />
                  <Description content={t("Rørt tunsalat, chili flager, hvidløgsspire, salat, pesto og agurk på vores hjemmebagte focaccia")} />
                </li>
                <li>
                  <ProductHeadline variant="primary" headline={t("Fennikel salami og gammel knas")} price={t("95 kr")} />
                  <Description content={t("Fennikel salami, gammel knas ost, tomat, råsyltede rødløg, salat, hummus, og pesto på vores hjemmebagte focaccia")} />
                </li>
                <li>
                  <ProductHeadline variant="primary" headline={t("Falafelsandwich")} price={t("99 kr")} />
                  <Description content={t("Falafel, avokado, hummus, salat, agurk, chili, mayo og syltede rødløg på vores hjemmebagte focaccia")} />
                </li>
              </ul>
            </section>
            <section class="grid gap-default" id="toast">
              <header class="grid justify-center gap-default md:justify-start">
                <CategoryHeadline headline={t("Grillet toast")} />
              </header>
              <ul>
                <li>
                  <ProductHeadline variant="primary" headline={t("Tunsandwich")} price={t("90 kr")} />
                  <Description content={t("Ost, skinke, bagt tomat, persillepesto og råsyltede rødløg på vores hjemmebagte focaccia")} />
                </li>
              </ul>
            </section>
            <section class="grid gap-default" id="salat">
              <header class="grid justify-center gap-default md:justify-start">
                <CategoryHeadline headline={t("Salat")} />
              </header>
              <ul>
                <li>
                  <ProductHeadline variant="primary" headline={t("Falafel bowl")} price={t("109 kr")} />
                  <Description content={t("Varm rødbedefalafel, avokado, salat, agurk, persilleolie, sesam og hummus")} />
                </li>
              </ul>
            </section>
          </div>
        </div>
      </section>

      <section class="mt-negative">
        <Image class="mx-auto md:mb-large h-[80px] w-[80px]" src={CoffeeMug} alt={t("kaffekop illustration")} loading="lazy" />
        <div class="grid gap-extra-large md:gap-negative md:grid-cols-2">
          <section class="grid gap-default md:grid-rows-[0.1fr_0.6fr]" id="kaffe">
            <header class="grid justify-center gap-default md:justify-start">
              <CategoryHeadline headline={t("Kaffe")} />
            </header>
            <ul class="grid gap-default">
              <li>
                <ProductHeadline variant="organic" headline={t("Espresso")} price={t("32 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Americano")} price={t("37 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Cortado")} price={t("40 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Flat white")} price={t("42 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Cappuccino")} price={t("45 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Café latte")} price={t("47/52 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Vanilje latte")} price={t("49 kr")} />
              </li>
              <li>
                <ProductHeadline variant="secondary" headline={t("Spiced latte")} price={t("49 kr")} />
                <Description content={t("Latte med hjemmelavet krydresirup og kanel")} />
              </li>
            </ul>
          </section>
          <section class="grid gap-default md:grid-rows-[0.1fr_0.6fr]" id="varme-drikke">
            <header class="grid justify-center gap-default md:justify-start">
              <CategoryHeadline headline={t("Varme drikke")} />
            </header>
            <ul class="grid gap-small">
              <li>
                <ProductHeadline variant="organic" headline={t("Te")} price={t("36 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Matcha latte")} price={t("49/54 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Chai latte")} price={t("47/52 kr")} />
              </li>
              <li>
                <ProductHeadline variant="primary" headline={t("Varm kakao")} price={t("45/50 kr")} />
              </li>
              <li>
                <ProductHeadline variant="organic" headline={t("Varm hyldeblomst")} price={t("47 kr")} />
              </li>
            </ul>
          </section>
        </div>
      </section>
    </div>

    <section class="mt-negative">
      <Image class="mx-auto md:mb-large h-[80px] w-[80px]" src={ColdDrinks} alt={t("kold drikkevare illustration")} loading="lazy" />
      <div class="grid gap-extra-large md:gap-negative md:grid-cols-2">
        <section class="grid gap-default md:grid-rows-[0.1fr_auto]" id="drikkevarer">
          <header class="grid justify-center gap-default md:justify-start">
            <CategoryHeadline headline={t("Kolde drikke")} illustration={ColdDrinks} alt={t("kold drink")} width={50} height={50} />
          </header>
          <ul class="grid gap-default">
            <li>
              <ProductHeadline variant="organic" headline={t("Iced latte")} price={t("49 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Iced matcha")} price={t("49 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Iced chai latte")} price={t("49 kr")} />
            </li>
            <li>
              <ProductHeadline variant="organic" headline={t("Iced americano")} price={t("39 kr")} />
            </li>
            <li>
              <ProductHeadline variant="secondary" headline={t("Spiced iced latte")} price={t("52 kr")} />
              <Description content={t("Iskaffe med hjemmelavet krydresirup, kanel og flødeskum")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Hyldeblomst")} price={t("35 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Maté maté")} price={t("45 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("IPA alkoholfri")} price={t("39 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Cocio")} price={t("35 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Dansk vand")} price={t("35 kr")} />
            </li>
            <li>
              <ProductHeadline variant="secondary" headline={t("BIE's øko")} price={t("35 kr")} />
              <Description content={t("Rabarber / solbær")} />
              <Description content={t("Æblemost / æble og ingefær")} />
            </li>
          </ul>
        </section>
        <section class="grid gap-default md:grid-rows-[0.1fr_0.5fr]" id="hjemmelavet">
          <header class="grid justify-center gap-default md:justify-start">
            <CategoryHeadline headline={t("Hjemmelavet")} />
          </header>
          <ul class="grid gap-default">
            <li>
              <ProductHeadline variant="primary" headline={t("Lime lemonade")} price={t("55 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Mynte lemonade")} price={t("55 kr")} />
            </li>
            <li>
              <ProductHeadline variant="secondary" headline={t("Brombær lemonade")} price={t("55 kr")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Smoothie")} price={t("60 kr")} />
              <Description content={t("Se dagens smoothie")} />
            </li>
            <li>
              <ProductHeadline variant="primary" headline={t("Friskpresset appelsin juice")} price={t("59 kr")} />
              <li>
                <h4 class="text-neutral-1 text-paragraph-2">
                  <strong>{t("Tilføj")}</strong>
                </h4>
                <AddItem item={t("Ingefærshot 10 kr")} />
              </li>
            </li>
          </ul>
        </section>
      </div>
    </section>
    <DietIndicators />
  </main>
  <aside id="coffeesection" class="m-margin md:my-section fade-section space-y-section">
    <!-- Kær Kaffebaren's kaffe section -->
    <div class="grid gap-extra-large lg:grid-cols-2">
      <Image class="lg:h-[500px] h-full w-full object-cover object-center rounded-default" src={Coffee} alt={t("billede af to poser kaffebønner")} loading="lazy" />
      <div>
        <h2 class="text-neutral-1 text-header-1 font-header leading-height-header-1">
          {t("Hos Kær Kaffebar brænder vi for god kaffe.")}
        </h2>
        <h2 class="text-neutral-1 text-header-2 font-body-text leading-height-header-2">
          {t("Vi samarbejder med Just Coffee for at sikre kvalitet og bæredygtighed i hver eneste kop.")}
        </h2>
        <div class="relative">
          <input type="checkbox" id="cb" class="peer absolute z-[-10] opacity-0" name="accordion" />

          <label for="cb" class="cursor-pointer block mb-2">
            <span class="peer-checked:hidden text-neutral-1 text-paragraph leading-height-paragraph font-body-text"><strong>{t("Læs mere om vores kaffe")}</strong></span>
            <span class="hidden peer-checked:inline"><strong>{t("Vis mindre")}</strong></span>
          </label>
          <div class="max-h-0 overflow-hidden transition-all duration-[350ms] peer-checked:max-h-[80rem] grid gap-large">
            <div>
              <h2 class="text-neutral-1 text-header-2 leading-height-header-2 font-body-text">{t("Økologisk kaffe")}</h2>
              <p class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">
                {t("Vores kaffe på kær kaffebar i Valby, er brygget med økologiske bønner fra Just Coffee. Just Coffee's risteri ligger i Roskilde og handler bæredygtigt med bønderne om bønnerne fra Sydamerika. Alle vores kaffedrikke er brygget på deres Sol&Måne Espresso kaffe, som er en mørkristet arabica af hele bønner fra Colombia, Nicaragua, Honduras og Etiopien. Vælg roligt Kær Kaffebar for lækker økologisk kaffe i Valby. Du kan læse mere om Just Coffe's principper på deres hjemmeside.")}
              </p>
            </div>
            <div>
              <h2 class="text-neutral-1 text-header-2 leading-height-header-2 font-body-text">{t("Milk matters")}</h2>
              <div class="grid gap-default">
                <p class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">
                  {t("For at sikre den høje kvalitet, den gode smag og bæredygtighed – er mælken også nøje udvalgt. Vi har valgt at arbejde med den Økologiske Thise Mælk, som giver kaffen en skøn skum og rundhed. Så når du skal bruge kaffe i Valby, er du her garanteret de bedste råvarer.")}
                </p>
                <p class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">
                  {t("Er der fare på færde hvis du får laktose i mælken, har vi selvfølgelig også laktose fri mælk. Både laktosefri sødmælk og laktosefri minimælk.")}
                </p>
                <p class="text-neutral-1 text-paragraph font-body-text leading-height-paragraph">
                  {t("Kan man mon få vegansk kaffe i Valby? Ja! Er man ikke til animalsk mælk, men hellere vil have en vegansk udgave, har vi selvfølgelig også havremælk og det koster ikke ekstra.")}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery section -->
    <section class="fade-section">
      <GallerySliderSection />
    </section>
  </aside>
</Layout>

<style>
  .fade-section {
    opacity: 1;
    transform: translateY(50px);
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray(".fade-section").forEach((section) => {
    gsap.from(section, {
      opacity: 0,
      y: 100,
      duration: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: section,
        start: "top 80%",
      },
    });
  });
</script>
