---
import "../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/runningclub/Accordion.astro";
import RunningClubCard from "../components/runningclub/RunningClubCard.astro";
import RunningImage from "../assets/img/running-img.webp";
import CoffeeCupIllustration from "../assets/illustrations/blue/kaer-coffecup.webp";
import LemonPiecesIllustration from "../assets/illustrations/blue/lemon-pieces.webp";
import PopUp from "../components/PopUp.astro";
import Button from "../components/Button.astro";

// Fetch events fra vores API
const events = await fetch(new URL("/api/clubevents", Astro.url))
  .then((res) => res.json())
  .catch(() => []);

const faqItems = [
  {
    question: "Hvor mødes vi?",
    answer: "Vi mødes ved Kær Kaffebar, Valby Lannggade 86C, 2500 Valby.",
  },
  {
    question: "Hvad gør jeg, hvis jeg ikke kan komme alligevel?",
    answer:
      "Hvis du efter tilmelding finder ud af, at du ikke kan komme alligevel, så skriv til nummeret: 81610900 mindst 24 timer inden, så vi ved, hvor mange vi skal regne med.",
  },
  {
    question: "Får man gratis kaffe?",
    answer:
      "Nej vi giver desværre ikke gratis kaffe, men vi giver et ingefærshot og super hyggelig stemning. Kaffebaren er selvfølgelig åben, så man er mere end velkommen til at nyde mad eller drikkevarer udenfor ved vores café borde eller inden i vores hyggelig lokale.",
  },
];

console.log(events);
---

<Layout title="Kær løbeklub">
  <main class="grid gap-negative m-margin text-neutral-1">
    <section class="relative">
      <Image
        src={CoffeeCupIllustration}
        alt="kaffekop illustration"
        class="absolute w-[130px] right-1 top-1 z-[-10]"
      />
      <div>
        <h1 class="text-header-1 font-header">Kær løbeklub</h1>
        <p class="text-paragraph leading-paragraph">
          Kær Klubben’s løbeklub i Valby har <strong
            >fokus på det sociale og på at samle lokalsamfundet</strong
          >, samtidig med at vi bevæger os. <strong
            >Ruten i søndermarken er 2,5 km, så alle kan være med.</strong
          >  Er man hurtig, kan man nå den 2 gange!
        </p>
      </div>
    </section>
    <section class="lg:flex lg:flex-row gap-large">
      <div class="grid gap-default flex-shrink-0">
        <div class="flex items-center gap-default">
          <h2 class="text-header-2">Kommende ture</h2>
          <div>
            <select
              class="border border-accent p-small rounded-md color-accent"
            >
              <option>Juni</option>
              <option>Juli</option>
              <option>August</option>
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
        <!-- Mapping events fra API -->
        {
          events.length === 0 ? (
            <p class="text-label">Ingen kommende ture</p>
          ) : (
            events.map((event) => (
            <PopUp show={false} id={`popup-${event.id}`}>
              <h3 id="confirmation" class="hidden"> Tak for din Tilmelding </h3>
              <form method="POST" action="/api/clubevents" class="flex flex-col gap-default">
                <h3>Tilmelding</h3>
              <div class="flex flex-col gap-small">
                <label for="name">Fulde Navn</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Navn"
                  required
                  class="border-2 border-faded-highlight rounded-sm p-2 bg-white"
                  />
              </div>
              <div class="flex flex-col gap-small">
                <label for="email"> E-mail</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="E-mail"
                  required
                  class="border-2 border-faded-highlight rounded-sm p-2 bg-white"
                  />
              </div>
                <Button type="submit" showArrow={false}> 
                  Tilmeld
                </Button>
              </form>
            </PopUp>
              <RunningClubCard event={event} popupId={`popup-${event.id}`} />
            ))
          )
        }
        <p>
          <strong
            >OBS: ved afmeldning skriv til nummeret: 81 61 09 00 mindst 24 timer
            inden.</strong
          >
        </p>
      </div>

      <div class="flex flex-col items-center">
        <h2 class="font-header text-header-2">FAQ</h2>
        <Accordion items={faqItems} />
      </div>
    </section>
    <section class="lg:flex lg:flex-row gap-large">
      <div
        class="h-[140px] lg:h-[60%] overflow-hidden rounded-full lg:w-[100%]"
      >
        <Image
          src={RunningImage}
          alt="billeder-af-to-piger-med-en-løbeklub-t-shirt"
          class="object-cover w-full h-full object-bottom"
        />
      </div>
      <div class="relative h-[250px]">
        <h2 class="text-accent text-header-2 leading-header-2 text-center">
          Hos Kær Kaffebar handler det ikke kun om tempo, men om fællesskab og
          lokale bånd.
        </h2>
        <Image
          src={LemonPiecesIllustration}
          alt="illustration af citroner"
          class="absolute bottom-0 right-0 z-[-10]"
        />
      </div>
    </section>
  </main>
</Layout>
