---
import { t } from "astro-i18n";

export const prerender = false;
import "../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import RunningClubCard from "../components/runningclub/RunningClubCard.astro";
import RunningImage from "../assets/img/running-img.webp";
import RunningCoffeeCupIllustration from "../assets/illustrations/blue/running-coffee-cup.svg";
import LemonPiecesIllustration from "../assets/illustrations/blue/lemon-pieces.svg";
import PopUp from "../components/PopUp.astro";
import Button from "../components/Button.astro";
import { months } from "./api/clubevents";
import Accordion from "../components/runningclub/Accordion.astro";
import { lazy } from "astro:schema";


const month = Astro.url.searchParams.get("month") || months[new Date().getMonth()];


// Fetch events fra vores API
const events = await fetch(new URL(`/api/clubevents?month=${month}`, Astro.url))
  .then((res) => res.json())
  .catch(() => []);

const faqItems = [
  {
    question: "Hvor mødes vi?",
    answer: "Vi mødes ved Kær Kaffebar, Valby Lannggade 86C, 2500 Valby.",
  },
  {
    question: "Hvad gør jeg, hvis jeg ikke kan komme alligevel?",
    answer:
      "Hvis du efter tilmelding finder ud af, at du ikke kan komme alligevel, så skriv til nummeret: 81610900 mindst 24 timer inden, så vi ved, hvor mange vi skal regne med.",
  },
  {
    question: "Får man gratis kaffe?",
    answer:
      "Nej vi giver desværre ikke gratis kaffe, men vi giver et ingefærshot og super hyggelig stemning. Kaffebaren er selvfølgelig åben, så man er mere end velkommen til at nyde mad eller drikkevarer udenfor ved vores café borde eller inden i vores hyggelig lokale.",
  },
];



const requestSend = Astro.url.searchParams.get("requestSend") ? true : false;


console.log(requestSend);
---

<Layout title={t("Kær løbeklub")}>
  <main class="grid gap-negative m-margin text-neutral-1">
    <section class="grid md:grid-cols-2 relative mb-negative md:mb-section">
      <div>
        <h1 class="text-header-1 font-header">{t("Kær løbeklub")}</h1>
        <h3 class="text-header-3 font-body-text leading-height-header-3">
          {t("Kær Klubben's løbeklub i Valby har")} <strong
            >{t("fokus på det sociale og på at samle lokalsamfundet")}</strong
          >, {t("samtidig med at vi bevæger os.")} <strong
            >{t("Ruten i søndermarken er 2,5 km, så alle kan være med.")}</strong
          >  {t("Er man hurtig, kan man nå den 2 gange!")}
        </h3>
      </div>
      <img
            class="absolute w-[130px] right-1 top-[14rem] md:top-[0rem] z-[-10] md:w-[400px]"
            src={RunningCoffeeCupIllustration.src}
            alt={t("løbende kaffekop illustration")}
            loading="lazy"
          />
    </section>
    <section class="lg:flex lg:flex-row gap-negative space-y-section">
      <div class="grid gap-default flex-shrink-0">
        <div class="flex  flex-col items-start gap-default">
          <h2 class="text-header-2">{t("Kommende ture")}</h2>
          <div>
            <label for="month-filter" class="sr-only">Vælg måned</label>
            <select 
              id="month-filter"
              aria-label={t("Filtrer begivenheder efter måned")}
              class="border border-accent p-small rounded-md color-accent"
            >
            {
              [
                t("Januar"),
                t("Februar"),
                t("Marts"),
                t("April"),
                t("Maj"),
                t("Juni"),
                t("Juli"),
                t("August"),
                t("September"),
                t("Oktober"),
                t("November"),
                t("December"),
              ].map((m, idx) => (
                <option
                  value={months[idx]}
                  selected={months[idx] === month}
                  class="text-neutral-1"
                >
                  {m}
                </option>
              ))
            }
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
        <PopUp show={requestSend} id="popup-confirmation">
          <h3 id="confirmation">{t("Tak for din tilmelding")}</h3>
        </PopUp>
        <!-- Mapping events fra API -->
        {
          events.length === 0 ? (
            <p class="text-label">{t("Ingen kommende ture")}</p>
          ) : (
            events.map((event) => (
            <PopUp show={false} id={`popup-${event.id}`}>
              <form method="POST" action="/api/clubevents" class="flex flex-col gap-default">
                <h3>{t("Tilmelding")}</h3>
              <div class="flex flex-col gap-small">
                <label for={`name-${event.id}`}>{t("Fulde Navn")}</label>
                <input
                    type="text"
                    id={`name-${event.id}`}
                    name="name"
                    placeholder={t("Navn")}
                    required
                    class="border-2 border-faded-highlight rounded-sm p-2 bg-white"
                    autocomplete="name"
                  />
              </div>
              <div class="flex flex-col gap-small">
               <label for={`email-${event.id}`}>{t("E-mail")}</label>
                  <input
                    type="email"
                    id={`email-${event.id}`}
                    name="email"
                    placeholder={t("E-mail")}
                    required
                    class="border-2 border-faded-highlight rounded-sm p-2 bg-white"
                    autocomplete="email"
                  />
              </div>
                <Button type="submit" showArrow={false}> 
                  {t("Tilmeld")}
                </Button>
              </form>
            </PopUp>
              <RunningClubCard event={event} popupId={`popup-${event.id}`} />
            ))
          )
        }
        <p>
          <strong
            >{t("OBS: ved afmeldning skriv til nummeret: 81 61 09 00 mindst 24 timer inden.")}</strong
          >
        </p>
      </div>

      <div class="flex flex-col items-center">
        <h2 class="font-header text-header-2">{t("FAQ")}</h2>
        <Accordion items={faqItems}/>
      </div>
    </section>
    <section class="lg:flex lg:flex-row gap-large">
      <div
        class="h-[140px] lg:h-[60%] overflow-hidden rounded-full lg:w-[100%]"
      >
        <Image
          src={RunningImage}
          alt={t("billeder-af-to-piger-med-en-løbeklub-t-shirt")}
          class="object-cover w-full h-full object-bottom"
          loading="lazy"
        />
      </div>
      <div class="relative h-[250px]">
        <h2 class="text-accent text-header-2 leading-header-2 text-center">
          {t("Hos Kær Kaffebar handler det ikke kun om tempo, men om fællesskab og lokale bånd.")}
        </h2>
        <Image
          src={LemonPiecesIllustration}
          alt={t("illustration af citroner")}
          class="absolute bottom-0 right-0 z-[-10]"
          loading="lazy"
        />
      </div>
    </section>
  </main>
</Layout>