---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import AnchorLink from "./AnchorLink.astro";
const { headline, subheadline, content } = Astro.props;
const {
  imageSrc,
  imageAlt,
  roundedBorder,
  objectPostion,
  aspectRatio,
  reverse,
  imageContainerSize,
} = Astro.props;
const { ariaLabel, buttonText, url } = Astro.props;
---

<article class={`grid gap-default md:gap-large md:grid-cols-2 px-default xl:px-0`}>
  <figure class={`relative ${reverse ? "md:order-2" : "md:order-1"} `}>
    <div
      class={`overflow-hidden ${aspectRatio} ${roundedBorder} ${imageContainerSize}`}
    >
      <Image
        class=`object-cover w-full h-full ${objectPostion}`
        `
        src={imageSrc}
        alt={imageAlt}
        loading="lazy"
      />
    </div>
  </figure>
  <div
    class={`${reverse ? "md:order-1" : "md:order-2"} md:justify-center md:self-center bg-highlight shadow-pink p-default rounded-default h-full space-y-large`}
  >
    <hgroup class="grid gap-default">
      <h2
        class="text-neutral-1 font-header text-header-1 leading-height-header-1"
      >
        {headline}
      </h2>
      <div class="grid gap-default">
        <p
          class="text-neutral-1 font-body-text text-paragraph leading-height-tag font-bold"
        >
          {subheadline}
        </p>
        <h3
          class="text-neutral-1 font-body-text text-header-3 leading-height-header-3"
        >
          {content}
        </h3>
      </div>
    </hgroup>
    <AnchorLink variant="primary" url="/runningclub" ariaLabel={ariaLabel}
      >{buttonText}</AnchorLink
    >
  </div>
</article>
