---
import Mug from "../assets/illustrations/blue/mug.avif";
import { Image } from "astro:assets";
---

<div class="wrapper">
  <h3 class="itemLeft item1">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class=" itemLeft item2"
  />
  <h3 class="itemLeft item3">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class=" itemLeft item4"
  />
  <h3 class="itemLeft item5">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class="itemLeft item6"
  />
  <h3 class="itemLeft item7">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class="itemLeft item8"
  />
</div>
<div class="wrapper">
  <h3 class="itemRight item1">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class="itemRight item2"
  />
  <h3 class="itemRight item3">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class=" itemRight item4"
  />
  <h3 class="itemRight item5">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class=" itemRight item6"
  />
  <h3 class="itemRight item7">Kær Kaffebar</h3>
  <Image
    width={100}
    height={100}
    src={Mug}
    alt="kaffekop illustration"
    class=" itemRight item8"
  />
</div>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  h3 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-neutral-1);
    line-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;

  }

  .wrapper {
    margin-top: 2rem;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    height: 200px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }

  @keyframes scrollRight {
    to {
      right: -200px;
    }
  }

  .itemLeft,
  .itemRight {
    width: 300px;
    height: 100px;
    object-fit: contain;
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  .itemLeft {
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
  }

  .itemRight {
    right: max(calc(200px * 8), calc(100% + 200px));
    animation-name: scrollRight;
  }

  .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }

  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }

  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }

  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }

  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }

  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }

  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }

  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }
</style>
