---
import Button from "./Button.astro";

const { id, textStyle, show } = Astro.props;
---

<!-- class="sticky top-[30vw] right-[5vw] left-[5vw] z-50 bg-highlight p-large flex flex-col gap-large pin-skadow rounded-default" --><!-- Spread operatør -->
<div
  {...Astro.props}
  id={id}
  class=`${show ? '' : "hidden"} w-[90%] lg:w-[60%] fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-60 bg-highlight p-large flex-col gap-large pin-skadow rounded-default overflow-y-auto`
>
  <div class=`${textStyle}`>
    <!-- Skifte indhold ud for arrangement & runningclub -->
    <slot />
  </div>
  <div class="flex justify-center mt-auto p-medium">
    <Button showArrow={false} type="button" closePopUp={id}>Luk</Button>
  </div>
</div>

<!-- <script is:inline lang="javascript">
  const form = document.getElementById(`form-${id}`);
  if (form) {
    form.addEventListener('submit', async e => {
      e.preventDefault();
      const data = new FormData(form);

      const res = await fetch('/api/clubevents', {
        method: 'POST',
        body: JSON.stringify({
          name: data.get('name'),
          email: data.get('email'),
        }),
        headers: { 'Content-Type': 'application/json' },
      });
      if (res.ok) {
        // Skift indholdet ud med tak‑besked
        document.getElementById(`content-${id}`).innerHTML =
          `<p class="text-center text-lg">Tak for din tilmelding!</p>`;
      } else {
        // evt. fejl‑håndtering
        alert('Noget gik galt – prøv igen.');
      }
    });
  }
</script> -->
